$background-color: #000000;

.CardContainer {
  background: $background-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  min-height: 500px;
  margin: 0;
  font-family: 'Courier';
}

.CardContainer.favorites {
  font-size: 30px;
  color: green;
}