$main-color: green;
$name-color: goldenrod;
$box-shadow: 0px 0px 8px 3px rgb(67, 165, 71);

.Card {
  min-height: 280px;
  width: 250px;
  border: 1px solid $main-color;
  color: $main-color;
  background: black;
  margin: 10px 30px 30px 10px;
  box-shadow: $box-shadow;
  padding: 20px;
  border-radius: 0 29px 0 29px;
  text-align: left;
  font-family: 'Courier';

  & h4 {
    color: $name-color;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid $name-color;
    margin-top:10px ;
    width: 85%;
    
  } 

  & h5 {
    font-size: 16px;
    margin: 0;
    color: $name-color;
    text-transform: uppercase;
  }

  & p {
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 20px;
  }

  & button {
    margin-left: 220px;
    border-radius: 50%;
    border: 1px solid $main-color;
    height: 30px;
    width: 30px;
    background: black;
    cursor: pointer;
    position: absolute;
  }

  & .residents {
    text-transform: uppercase;
  }

  & .planets {
    height: 460px;
  }

  & .favorite {
    background: lightgreen;
    box-shadow: $box-shadow;
  }
}


